* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  display: grid;
  background-color: var(--bgc);
  scroll-behavior: smooth;
}

#overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--overlayBgc);
  display: none;
}

.product-containers .products-item-container .products .product-items {
  background-color: #fff;
}

.product-containers .products-item-container .products .product-items .item-img {
  position: relative;
}

.add-to-cart-button {
  color: var(--product-nc);
  width: 35%;
  height: 25px;
  display: none;
  background-color: var(--pryBgc);
  font-size: 12px;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  right: 0;
  border-radius: 30px 0 0 4px;
  cursor: pointer;
}

.product-containers .products-item-container .products .product-items:hover .item-img .add-to-cart-button {
  display: flex;
}

#cart-tab {
  display: none;
}

nav.site-side-bar {
  border-left: 1px var(--bc) solid;
  box-shadow: 0px 0px 1px #fff;
  grid-area: nav;
  display: flex;
  flex-direction: column;
  font-size: var(--small-fs);
  font-family: var(--text-ff);
}

nav .logo-container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .logo-container img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}

nav.site-side-bar .site-map {
  width: 100%;
  display: flex;
  align-content: center;
  padding: 30px 0;
  flex-direction: column;
  gap: 30px;
  overflow: scroll;
}

nav.site-side-bar .site-map .site-nav {
  display: flex;
  align-content: center;
  flex-direction: column;
  gap: 10px;
}

nav.site-side-bar .site-map .site-nav .nav-title {
  color: var(--title-tc);
  display: flex;
  padding-left: 5px;
  font-size: var(--x-large-fs);
  font-family: var(--title-ff);
}

nav.site-side-bar .site-map .site-nav ul {
  display: flex;
  flex-direction: column;
}

nav.site-side-bar .site-map .site-nav ul .nav-item {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 10px;
  gap: 5px;
}

nav.site-side-bar .site-map .site-nav ul .nav-item .nav-item-icon {
  height: 25px;
  width: 20px;
}

nav.site-side-bar .site-map .site-nav ul .nav-item a {
  color: var(--navLink-color);
  font-variant: small-caps;
}

nav.site-side-bar .site-map .site-nav ul .nav-item a:hover {
  color: var(--product-pc);
}

aside {
  height: 100vh;
  width: 220px;
  background-color: var(--bgc);
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  border-right: var(--bc) 1px solid;
  /* box-shadow: 0px 0px 305px #fff; */
}

aside .cart-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside .cart-container .cart-title {
  width: 100%;
  min-height: 100px;
  background-color: #222222;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--xx-large-fs);
  font-family: var(--text-ff);
  color: hsl(174, 99%, 35%);
}

aside .cart-container .cart-item-container {
  max-height: calc(100%-200px);
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  overflow: scroll;
  background-color: #ffffff;

}

aside .cart-container .cart-item-container .cart-items {
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #222222;
  
}

aside .cart-container .cart-item-container .cart-items {
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #222222;
}

aside .cart-container .cart-item-container .cart-items .product-items {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #ffffff; */
  gap: 5px;
}

aside .cart-container .cart-item-container .cart-items .product-items .item-img {
  width: 80px;
  height: 100%;
  display: flex;
  /* background-color: #ffffff; */
}

aside .cart-container .cart-item-container .cart-items .product-items .item-img img {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: contain;
}

aside .cart-container .cart-item-container .cart-items .product-items .item-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  object-fit: contain;
  color: #ffffff;
  margin-top: auto;
  gap: 5px;
}

aside .cart-container .cart-item-container .cart-items .product-items .item-info :is(.item-name) {
  font-size: var(--small-fs);
  color: var(--product-nc);
  font-family: var(--title-ff);
}

aside .cart-container .cart-item-container .cart-items .product-items .item-info :is(.item-price) {
  font-size: var(--small-fs);
  font-family: var(--digit-ff);
  color: var(--product-pc)
}

aside .cart-container .cart-item-container .cart-items .product-items .item-info :is(.remove-from-cart) {
  font-size: var(--small-fs);
  color: var(--romove-error-c);
  cursor: pointer;
  font-family: cursive;
}

aside .cart-container .cart-item-container .cart-items .product-quantity {
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside .cart-container .cart-item-container .cart-items .item-quantity {
  color: var(--product-pc);
  font-family: var(--digit-ff);
  font-size: var(--x-small-fs);
}

aside .cart-container .cart-item-container .cart-items .product-quantity .increment-qunatity {
  width: 10px;
}

aside .continue-purchase-container {
  min-height: 102px;
  border-top: 3px solid hsl(174, 99%, 35%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px;
  align-items: center;
}

aside .continue-purchase-container .total-price-container {
  height: 40%;
  display: flex;
  justify-content: space-between;
  color: var(--product-pc);
  width: 90%;
}

aside .continue-purchase-container .total-price-container #total {
  color: var(--product-nc);
  font-family: var(--title-ff);
}

aside .continue-purchase-container .total-price-container .price-total-digit {
  color: var(--product-pc);
  font-family: var(--digit-ff);
}

aside .continue-purchase-container .purchase-btn {
  height: 40%;
  background-color: hsl(174, 99%, 35%);
  display: flex;
  color: var(--btn-tc);
  width: 90%;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}

header {
  height: 100px;
  display: flex;
  width: 100%;
  grid-area: header;
  position: sticky;
  align-items: center;
  top: 0px;
  z-index: 3;
  background-color: #222222;
  padding: 30px;
  box-shadow: 0px 0px 1px #fff;
}

.site-identity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 30%;
  padding: 0px 10px;
}

.site-identity {
  display: none;
}

.site-identity .logo-container {
  width: 40%;
  height: 50%;
}

.site-identity .logo-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.search {
  display: flex;
  width: 100%;
  max-width: 500px;
  height: 46px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.search .search-field {
  display: flex;
  height: 100%;
  width: 70%;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  border: 1px hsl(174, 99%, 35%) solid;
  padding: 5px 10px;
  border-radius: 10px 0 0 10px;
}

.search .search-field .search-icon {
  display: flex;
  height: 100%;
  width: 20%;
  align-items: center;
  justify-content: center;
  padding: 5px 0 0px 10px;
  background-color: var(--btn-tc);
}

.search .search-field .search-icon img {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.search .search-field .search-input {
  display: flex;
  height: 100%;
  width: 80%;
  align-items: center;
  padding: 5px 0px;
  justify-content: center;
  font-size: var(--medium-fs);
  color: var(--product-nc);
  border: 0;
  background-color: var(--btn-tc);
}

.search .search-field .search-input::placeholder {
  padding: 5px 0px;
  color: var(--product-pc);
}

.search .search-button {
  color: var(--product-pc);
  height: 100%;
  width: 30%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--btn-tc);
  border: 1px hsl(174, 99%, 35%) solid;
  font-size: var(--medium-fs);
  border-radius: 0 10px 10px 0;
}

.search .search-button:hover {
  color: var(--product-nc);
  height: 100%;
  background-color: var(--title-tc);
}

main {
  grid-area: main;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  border-bottom: rgb(74, 72, 72) 1px solid;
}

.product-containers {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 40px;
}

.product-containers .products-item-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
}

.product-containers .products-item-container .product-item-title {
  width: 30%;
  max-width: 150px;
  background-color: var(--bgc);
  height: 35px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  color: var(--title-tc);
  font-family: var(--title-ff);
  position: sticky;
  top: 110px;
  left: 0px;
  z-index: 1;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}

.product-containers .products-item-container .products {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.product-containers .products-item-container .products .product-items {
  display: flex;
  padding: 0px;
  flex-direction: column;
  gap: 10px;
  border: red solid 2px;
}

.product-containers .products-item-container .products .product-items .item-img {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 280px;
  flex-direction: column;
  padding: 10px;
}

.product-containers .products-item-container .products .product-items .item-img img {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  flex-direction: column;
  object-fit: contain;
}

.product-containers .products-item-container .products .product-items .item-info {
  height: 70px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-evenly;
  padding: 20px;
}

.product-containers .products-item-container .products .product-items .item-info .item-name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--product-nc);
  font-weight: 700;
  font-size: 12px;
}

.product-containers .products-item-container .products .product-items .item-info .item-price {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--product-pc);
  font-family: var(--digit-ff);
}

aside {
  grid-area: aside;
  width: 0%;
  z-index: 3;
  box-shadow: 0px 0px 1px #fff;
  overflow: scroll;
}

body .site-side-bar {
  width: 0%;
  height: 100vh;
  background-color: var(--bgc);
  display: flex;
  overflow: scroll;
  align-content: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  left: 0px;
  /* z-index: 3; */
}

footer {
  grid-area: footer;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--title-tc);
}